@charset "utf-8";

*{
    margin: 0;
    padding: 0;
}
h1{
    text-align: center;
    text-shadow: 2px 2px 2px #3e4696 ;
    font-family: arial;
    

    font-size: 15pt;
    color:white;
 }

 h2{
     font-family: arial;
     padding: 10px;

     font-size: 15pt;
     color: white;
 }

 h3{
   text-align: center;
   font-family: arial;
   padding: 10px;

   font-size: 15pt;
   color: white;
}

.menu{
    border: 1px solid black;
    align-items: center;
    padding: 5px;

    background-color: #032ea5;
 }

 .menu2{
    border: 1px solid black;
    padding: 5px;
    display: flex;
    justify-content: center;
    
    background-color:#032ea5;
 }
.logo{
   display: flex;
   align-items: center;
}

.logo h1{
   margin-left:42%;

}

.logo img{
   float: left;
   height:50px;
   width: 50px;
 }

 .logos{
   height:20px;
   width:20px;
 }

 .nav1{
    border: 1px solid black;
    padding: 5px;
    height: 30px;
    align-items: center;
    display: flex;
    justify-content:space-between;

   
    border-radius: 20px;
    background-color: #3e4696;
 }

 .return{
 border: 1px solid black;
 padding: 5px;
 width: 10%;
 height:20px;
 align-items: center;
 display: flex;
 justify-content:center;
 
 border-radius: 20px;
 background-color: #3e4696;
 }

 .return a{
      text-decoration: none;
      color: white;
 }

 .art1{
   
    padding: 10px;
    height: 650px;
    width: 670px;

    background-color:#032ea5;
 }

 .sec1{
    padding: 5px;
  
    background-color: #032ea5;
 }

.asi1{
    border: 1px solid black;
    padding: 10px;
    height: 650px;
    width: 670px;

    background-color: #032ea5;
}

.asi1 img{
   padding: 8px;
   width: 131px;
   height: 140px;
}

.fo1{
    border: 1px solid black;
    padding: 5px;

    clear:both;
  
    background-color: #032ea5;
}

.tudo{
   padding:50px;
   display: flex;
}

.imgtudo{
   align-items: center;
   padding: 70px;
}

.imgtudo img{
   border-radius: 50px;
   width: 200px;
   height: 300px;
}

.imgtudo h1{
   border: solid 2px black;
   background-color: #3e4696;
}

.cabelo{
   border: 1px solid black;
   padding: 5px;
   display: flex;
   align-items: center;

   flex-direction: column;
   background-color:#5255a7;
}

.cabelo img{
   width: 300px;
   height: 150px;
}

.mp{
   border: 1px solid black;
   padding: 5px;
   display: flex;
   align-items: center;
   
   flex-direction: column;
   background-color:#5255a7;
}

.mp img{

   width:200px;
   height: 150px;
}

.barba{
   border: 1px solid black;
   padding: 5px;
   display: flex;
   align-items: center;
   
   
   flex-direction: column;
   background-color:#5255a7;
}

.barba img{

   width: 200px;
   height: 150px;
}